::-webkit-scrollbar{
    display: none;
}

* {
  box-sizing:border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a, a:active, a:visited {
  text-decoration:none;
  color:#000;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  width:100%;
  height:100%;
  background-color:#FFF;
  color:#000;
  font-family:'Helvetica Neue', Helvetica, sans-serif;
}

#main-container {
  width:100vw;
  height:100vh;
  overflow:scroll;
  position:absolute;
  top:0;
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(5%, 20%));
  grid-template-rows:repeat(auto-fill);
}

#main-container video {
  width:100%;
}
